@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
    @apply bg-gray-800;
    @apply text-white;
}

.nice-shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.modal-base {
    @apply top-2/4 left-2/4 right-auto bottom-auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.-mr-2\/4  {
    margin-right: -50%;
}

::-webkit-scrollbar {
    width: 0;
    @apply bg-transparent;
}

.vthell-toast {
    @apply fixed top-[5.5rem] right-5 z-30 flex flex-col gap-2;
}

/* fade-transition */
.fade-transition-enter {
    @apply opacity-0;
}

.fade-transition-enter-active {
    @apply opacity-100;
    @apply transition-opacity duration-300 ease-in;
}

.fade-transition-exit {
    @apply opacity-100;
}

.fade-transition-exit-active {
    @apply opacity-0;
    @apply transition-opacity duration-200 ease-out;
}

.slide-right-enter {
    animation: enterRight50px 200ms ease-in-out 1;
    opacity: 0;
    transform: translateX(50px);
}

.slide-right-leave {
    animation: leaveRight50px 200ms ease-in-out 1;
    opacity: 1;
    transform: translateX(0px);
}

@keyframes enterRight50px {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes leaveRight50px {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(50px);
    }
}

.shadow-helper {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    border-color: #2563eb;
}